.slider{
    padding-top: 250px;
    .container{
        padding:65px 15px;
        .row{
            display: block;
            text-align: center;
            .header-2{
                padding: 30px 0;
            }
            .carousel{
                .carousel-item {
                    text-align: center;
                    padding: 0 250px;
                    .fonavatar {
                        position: relative;
                        display: block;
                        width: 60px;
                        height: 60px;
                        background-color: #e7e965;
                        border-radius: 50%;
                        text-align: center;
                        margin: 0 auto;
                    }
                    .fonavatar2{
                        background-color: $li1-p2;
                    }
                    .fonavatar3{
                        background-color: $li1-p1;
                    }
                    .avatar{
                        position: absolute;
                        bottom: 0;
                        left: 10px;
                    }
                    p{
                        @include font ($li1-p4,'Poppins-Light',14px,300);
                        line-height: 22px;
                        padding: 30px 0;
                    }
                    .data{
                        @include font ($li2-p4,'Poppins-Light',13px,300);  
                        padding: 15px 0;
                    }
                    a{
                        @include font ($d1-p1,$Poppins-SemiBold,17px,600);  
                    }
                }
                .sprev{
                    position: relative;
                    display: block;
                    height: 30px;
                    width: 2px;
                    background-color: $primary-1;
                    transform: rotate(45deg);
                }
                .sprev::after{
                    content: '';
                    position: absolute;
                    bottom: -17px;
                    left: 15px;
                    display: block;
                    height: 30px;
                    width: 2px;
                    background-color: $primary-1;
                    transform: rotate(-80deg);
                }
                .snext{
                    transform: rotate(-45deg);
                }
                .snext::after{
                    transform: rotate(80deg);  
                    left: -15px;
                }
            }
        }
    }
}
@media (max-width:1200px) {
    .slider {
        padding-top: 295px;
    }
    .slider .container .row .carousel .carousel-item{
        padding: 0 150px;
    }
}
@media (max-width:992px) {
    .slider{
        padding-top: 0;
    }
    .slider .container .row .carousel .carousel-item{
        padding: 0 100px;
    }
}
@media (max-width:768px) {
    .slider .container .row .carousel .carousel-item {
        padding: 0 50px;
    }
    .carousel-control-next,
    .carousel-control-prev {
        width: 5%;
    }
    .slider .container .row .header-2 {
        font-size: 27px;
    }
    .slider .container{
        padding: 30px 15px;
    }
    .slider .container .row .carousel .carousel-item p{
        padding: 20px 0;
    }
}